{% extends 'base.html' %}
{% load static  %}
{% block content %}


<form action="" method="post">
    <div class="container-fluid bg-secondary text-center mt-5 p-3">
        <div class="row">
            <div class="col border">
                <p class="text-primary " style="font-size: 2vw;">Become an Instructor Today!!</p>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Become</button>

</form>
{% if error %}
<div class="alert alert-danger mt-3" role="alert">
{{ error }}
</div>
{% endif %}
</div>
</div>
{% endblock content %}