{% extends 'base.html' %}
{% load static  %}
{% block content %}





<<div class="container-login">
	<div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            {% if error %}
            <div class="alert alert-danger mt-3" role="alert">
            {{ error }}
            </div>
            {% endif %}
            <div class="form-box">
                <form action="." method="POST">
                    {% csrf_token %}
                    <input name="username" type="text" placeholder="username">
                    <input name="password" type="password" placeholder="password">
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                </form>
            </div>
        </div>
        
</div>
{% endblock content %}