{% extends 'base.html' %}
{% load static  %}

{% block content %}

      
	
        <div id="fh5co-pricing">
		 <div class="container">
			<div class="row">
				<div class="pricing">
					
	{% for pri in pricess %}
					<div class="col-md-3 animate-box">
						<div class="price-box">
							<h2 class="pricing-plan">{{ price.price_title }}</h2>
							<div class="price"><sup class="currency">$</sup>{{ pri.price }}<small>/month</small></div>
							<ul class="classes">
								<li>{{ pri.dahil1 }}</li>
								<li class="color">{{ pri.dahil2 }}</li>
								<li>{{ pri.dahil3 }}</li>
								<li class="color">{{ pri.dahil4 }}</li>
								<li>{{ pri.dahil5 }}</li>
								<li class="color">{{ pri.dahil6 }}</li>
								<li>{{ pri.dahil7 }}</li>
							</ul>
							<a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
						</div>
					</div>

        {% endfor %}

<div id="fh5co-started" style="background-image:url('{% static 'images/img_bg_2.jpg' %}');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Lets Get Started</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center">
					<p><a href="#" class="btn btn-default btn-lg">Create A Free Course</a></p>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}